.Banner {
  background-image: url("https://foodingly.netlify.app/assets/img/banner/common-banner.png");
  padding: 200px 0 130px 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $white;
  &-menu {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  &-link {
    margin: 5px;
    list-style: none;
    text-decoration: none;
    color: $white;
    &:hover {
      color: $lime-green;
    }
  }
}
