.BarContact {
  background-color: $lime-green;
  display: flex;
  font-family: $font-primary;
  font-size: 14px;
  justify-content: space-between;
  line-height: 1.5;
  padding: 10px 193px;

  @include media-breakpoint-down(lg) {
    padding: 10px 30px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &Dropdown {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 16px;
    outline: none;
    vertical-align: baseline;

    &:hover {
      background-color: transparent;
      color: $black;
      transition: $transition;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: none;
      outline: none;
    }

    &-menu {
      background-color: $white;
      border-radius: 5px;
      list-style: none;
      border: none;
      padding: 0;
      transition: $transition;
      width: 160px;
    }

    &-item {
      border-bottom: 1px solid $grey-light;
      border-radius: 5px;
      color: $grey-medium;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 20px;
      position: absolute;

      &:hover {
        background-color: $grey-light;
        color: $black;
      }
    }
  }

  &-icons {
    color: $white;
    list-style: none;
    gap: 10px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-icon {
    margin-inline: 5px;
    cursor: pointer;
  }

  &-info {
    display: flex;
    font-weight: 400;
    align-items: center;
    margin: 0px
  }

  .item {
    margin-top: 3px;
  }

  &-item {
    color: $white;
    list-style: none;
    margin-inline: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: -9px;
      width: 1px;
      height: 23px;
      background-color: $black-trans;
    }

    &:hover {
      transition: all 0.3s ease-in-out 0.1s;
      color: $black;
      cursor: pointer;
    }
  }

  &-settings {
    display: flex;
    font-weight: 500;
    align-items: center;
    margin: 0;
  }
}