.Blog {
  margin-left: auto;
  margin-left: auto;
  background-color: $grey-light;
  padding: 80px 0;

  @include media-breakpoint-down(lg) {
    padding: 70px 35px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 12px;
  }
  &-heading {
    @extend .titleDecoration;
    text-align: center;
    margin-bottom: 26px;
  }

  &-title {
    @extend .titleUnderlined;
  }
  &-container {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    max-width: $default-padding;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      padding: 40px 12px;
    }
  }
  &Card {
    width: 456px;
    box-shadow: 8px 10px 24px $black-trans;
    background: $white;
    border-radius: 12px;
    transition: $transition;
    position: relative;
    z-index: 9;
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(sm) {
      width: 350px;
    }
    &-containerImage {
      overflow: hidden;
      
    }
    &-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      height: 274px;
      transition: $transition;
      &:hover {
        transform: scale(1.2) rotate(3deg);
      }
    }
    &-title {
      color: $black;
      padding-top: 20px;
      display: block;
      font-weight: 500;
      line-height: 35px;
      font-size: 24px;
      &:hover {
        color: $lime-green;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 28px;
      color: $grey-medium;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      margin-bottom: 0;
    }
    &-category {
      position: absolute;
      top: 10px;
      left: 10px;
      color: $white;
      padding: 8px 15px;
      font-size: 14px;
      border-radius: 5px;
      background-color: $lime-green;
      font-family: $font-primary;
    }
    &Footer {
      background: $white;
      display: flex;
      max-width: 340px;
      justify-content: space-between;
      padding-left: 20px;
      padding-bottom: 15px;
      border-top: 1px solid $grey-light;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      &-information {
        display: flex;
        align-items: center;
        margin-bottom: 3px;

        &.Line {
          border-left: 1px solid $grey-light;
          padding-left: 24px;
          @include media-breakpoint-down(sm) {
            padding-left: 0;
            border-left: none;
          }
        }
      }
      &-icon {
        background-color: $pink-light;
        border-radius: 50px;
        font-size: 16px;
        margin-right: 8px;
        padding: 10px;
      }
      &-label {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-primary;
      }

      &-author {
        color: $grey-medium;
        font-family: $font-secundary;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    &-content {
      background-color: $white;
      padding: 15px 20px;
    }
  }
}
