.Chefs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 40px;
  background-color: $grey-light;

  @include media-breakpoint-down(lg) {
    padding: 70px 35px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 12px;
  }

  &-heading {
    @extend .titleDecoration;
    text-align: center;
    margin-bottom: 26px;
  }

  &-title {
    @extend .titleUnderlined;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
    max-width: $default-padding;
    @include media-breakpoint-down(lg) {
     
    }
  
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  &Card {
    align-items: flex-end;
    border: 5px solid $white;
    display: flex;
    height: 351px;
    overflow: hidden;
    position: relative;
    width: 335px;

    &:hover {
      .ChefsCard-content {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &-content {
      background-color: $white;
      padding: 10px;
      position: absolute;
      text-align: center;
      opacity: 0;
      transition: 0.5s all ease-in-out;
      transform: translateY(80px);
      width: 100%;

    }

    &-name {
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      color: $lime-green;
      line-height: 1.2;
    }

    &-charge {
      font-family: $font-secundary;
      font-size: 14px;
      font-weight: 500;
      color: $grey-medium;
      margin-bottom: 0;
    }

    &-socialmedia {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: -25px;
      margin-bottom: 10px;
      padding: 0;
    }

    &-icon {
      align-items: center;
      background-color: $white;
      border-radius: 50px;
      box-shadow: 4px 6px 20px rgb(0 0 0 / 8%);
      color: $lime-green;
      cursor: pointer;
      display: flex;
      height: 30px;
      justify-content: center;
      margin: 0 5px;
      transition: $transition;
      width: 30px;

      &:hover{
        background-color: $lime-green;
        color: $white;
      }
    }
  }
}