.Contact {
  background-color: $grey-light;

  &-container {
    max-width: $default-padding;
    margin: 0 auto;
    padding: 80px 0;

    @include media-breakpoint-down(lg) {
      padding: 70px 35px;
    }

    @include media-breakpoint-down(sm) {
      padding: 40px 12px;
    }
  }
  &-banner {
    background-image: url("https://foodingly.netlify.app/assets/img/banner/common-banner.png");
    padding: 200px 0 130px 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $white;
  }

  .icon{
    font-size: 12px;
    margin-right: 5px;
  }
  &-menu{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
   
  }
  &-link{
    list-style: none;
    text-decoration: none;
    color: $white;
    &:hover{
      color: $lime-green;
    }
  }
  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 0;
    font-weight: 500;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 1px;
      background: $lime-green;
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 0;
    }
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &-label,
  &-phone {
    font-family: $font-primary;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }

  &-phone {
    color: $lime-green;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $black;
    }
  }

 
}
