.Download {
  justify-content: center;
  display: flex;
  padding: 80px;

  @include media-breakpoint-down(lg) {
    align-items: flex-start;
    margin-left: 0;
    padding: 80px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $default-padding;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &-content {
    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &-title {
    font-family: $font-primary;
    font-size: 53px;
    font-weight: 500;
    line-height: 80px;
    max-width: 670px;
    padding-bottom: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 41px;
      line-height: 65px;
      max-width: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 40px;
      max-width: 240px;
    }
  }

  &-text {
    color: $grey-medium;
    font-family: $font-secundary;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    max-width: 700px;
    padding-bottom: 35px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 28px;
      max-width: 270px;
    }
  }

  &-image {
    padding-left: 15px;
    padding-right: 100px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-app {
    margin-right: 20px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      width: 108px;
      height: 37;
    }
  }
}
