.Footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $default-padding;
  padding: 100px 0 90px;

  @include media-breakpoint-down(lg) {
    padding: 70px 36px 40px;
  }

  @include media-breakpoint-down(lg) {
    padding: 70px 10px 40px;
  }

  &-container {
    @include media-breakpoint-down(lg) {
      padding-bottom: 20px;
    }
  }

  &-title {
    border-bottom: 1px solid $lime-green;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    display: inline-block;
  }

  &Help {
    list-style: none;
    border-left: 2px solid $lime-green;
    padding-left: 9px;
    margin-bottom: 25px;
    &-icon {
      padding: 0 8px 0 0;
    }
    &-container {
      width: 479px;

      @include media-breakpoint-down(lg) {
        width: 355px;
      }
    }

    &-heading {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      padding-bottom: 8px;
    }

    &-text {
      color: $lime-green;

      :hover {
        color: $black;
      }
    }

    &-link {
      cursor: pointer;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;
      transition: $transition;
      color: $lime-green;
    }
  }

  &-list {
    list-style: none;
    width: 240px;
  }

  &-item {
    padding-bottom: 15px;
  }

  &-link {
    color: $black;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $lime-green;
      cursor: pointer;
    }
  }

  &Table {
    border: 1px solid $grey-light;
    border-collapse: collapse;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    width: 456px;

    @include media-breakpoint-down(sm) {
      width: 349px;
    }

    &-item {
      border: 1px solid $grey-light;
      padding: 8px;
    }
  }

  &Copyright {
    background-color: $grey-ligthest;
    justify-content: center;
    padding: 15px 0;

    @include media-breakpoint-down(lg) {
      padding: 15px 36px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1420px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    &-text {
      color: $black;
      font-family: $font-secundary;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
      }
    }

    &-image {
      height: 35px;
      width: 212px;
    }
  }
}
