.Form {
  background-color: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  padding: 35px;
  width: 936px;

  @include media-breakpoint-down(lg) {
    width: 696px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &-input {
    background-color: transparent;
    border: 2px dashed &grey-light transparent;
    border-radius: 4px;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 22px;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 2px dashed $grey-light;

    &.textArea {
      height: 144px;
    }
  }
  &-button {
    max-width: 189px;
  }
}
