.Hero {
  background-image: url("https://foodingly.netlify.app/assets/img/banner/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1080px;
  @include media-breakpoint-down(lg) {
    padding: 105px 35px;
  }

  @include media-breakpoint-down(sm) {
    background-position: initial;
      padding: 30px 0 50px 0;
    }

  &-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $default-padding;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      
    }

    @include media-breakpoint-down(sm) {
      width: 95%;
      }
  }

  &-title {
    color: $black;
    font-family: $font-primary;
    font-size: 83px;
    font-weight: 600;
    line-height: 90px;
    max-width: 650px;
    margin-bottom: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 55px;
      line-height: 75px;
      max-width: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 45px;
      line-height: 50px;
      max-width: 345px;
    }
  }

  &-text {
    font-family: $font-secundary;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 680px;
    padding-bottom: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &-image {
    width: 610px;
    height: 610px;

    @include media-breakpoint-down(lg) {
      width: 348px;
      height: 348px;
      padding: 30px 0;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
