.link {
  background-color: $lime-green;
  border-radius: 5px;
  cursor: pointer;
  color: $white;
  display: inline-block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 35px;
  transition: $transition;
  text-decoration: none;

  @media (max-width: map-get($container-max-width, md)) {
    font-size: 15px;
    padding: 12px 20px;
  }

  &:hover {
    background-color: $black;
    color: $white;
    
  }

  &.Secondary{
    border: 2px solid $lime-green;
    font-size: 16px;
    padding: 7px 10px;

    &:hover{
        color: $black;
        background-color: $white;
    }

  }
}
