.barMobile {
    display: none;

    @include media-breakpoint-down(sm) {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;

        &-settings {
            display: flex;
            list-style: none;
            align-items: center;
            flex-direction: row-reverse;
            margin: 0;
        }



        &-list {
            margin-left: 15px;
        }

        &-item {
            text-align: center;
        }
        &-toggle{
            align-items: center;
            background-color: transparent;
            border: none;
            color: $black;
            &::after{
                display: none;
            }
        }

        &-menu {
            display: block;
            float: left;
            width: 90%;
            padding: 1em 5%;
            margin: 0;
            text-align: left;
            color: $blue-grey;
            border-top: 1px solid $skype ;
            text-decoration: none;
        }
    }

}