.Office {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 0 80px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 110px;
  }

  &Card {
    padding: 30px 15px;
    text-align: center;
    width: 335px;
    box-shadow: -4px -5px 14px $black-trans, 5px 8px 16px $black-trans;
    border-radius: 12px;
    padding: 30px 15px;
    text-align: center;
    background-color:$white;

    @include media-breakpoint-down(sm) {
      width: 100%
    }

    &-office {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      margin: 0;
      padding-bottom: 15px;
    }

    &-title {
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0;
      padding-bottom: 20px;
    }

    &-text {
      color: $grey-medium;
      font-size: 16px;
      font-weight: 400;
      font-family: $font-secundary;
      line-height: 28px;
      margin-bottom: 0;
      padding-bottom: 15px;

      &.schedule {
        margin: 0 auto;
        max-width: 140px;
      }
    }

    &-link {
      color: $lime-green;
      cursor: pointer;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      transition: $transition;

      &:hover{
        color: $black;
      }
    }
  }
}
