.OurReservation {

  &-container {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    max-width: $default-padding;
    padding-bottom:20px ;
  }

  &Card {
    background-color: $white;
    border-radius: 5px;
    padding: 20px 20px;
    width: 324px;
    transition: $transition;
    &:hover{
      background: $lime-green;
      transform: translateY(-10px);
      .OurReservationCard-title, .OurReservationCard-text{
        color: $white;
      }
    }
    &-icon {
     
      padding-bottom: 25px;
    }

    &-title {
      font-size: 24px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s ease-in-out 0.1s;
      outline: 0 !important;
      color: $lime-green;
     
    }
    &-text {
      
      font-size: 16px;
      line-height: 28px;
      color: $grey-medium;
      font-weight: 400;
      font-family: $font-secundary;
      margin-top: 18px;
      margin-bottom: 24px;
      
    }

    &-imagen {
      width: 50%;
      height: 100%;
    }
  }
}
