.Reservation {
  justify-content: center;
  display: flex;
  padding: 80px 0;

  @include media-breakpoint-down(lg) {
    padding: 80px 40px;
    align-items: flex-start;
    margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 10px;
  }

  &-container {
    display: flex;
    align-items: center;
    width: $default-padding;
  }

  &-content {
    max-width: 700px;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &-title {
    font-family: $font-primary;
    font-size: 53px;
    font-weight: 500;
    line-height: 80px;

    @include media-breakpoint-down(lg) {
      font-size: 41px;
      line-height: 65px;
      max-width: 325px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
      line-height: 50px;
      max-width: none;
    }
  }

  &-text {
    color: $grey-medium;
    font-family: $font-secundary;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 35px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 26px;
      max-width: 350px;
    }
  }

  &-image {
    @include media-breakpoint-down(lg) {
      width: 336px;
      height: 198px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
