.SpecialOffers {
  background-image: url("https://foodingly.netlify.app/assets/img/common/counter_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  padding: 80px 0;
  text-align: center;

 @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }

  &-title {
    color: $black;
    font-family: $font-primary;
    font-size: 53px;
    font-weight: 500;
    line-height: 80px;
    max-width: 710px;
    margin: 0 auto 45px;

   @include media-breakpoint-down(lg) {
      font-size: 30px;
      line-height: 50px;
      max-width: none;
    }
  }

  &-heading {
    color: $black;
    font-size: 20px;
    font-weight: 400;
    font-family: $font-primary;
    padding-bottom: 40px;

    @extend .titleDecoration;

  }
}
