.Subscribe {
  display: flex;
  padding: 80px 0;
  justify-content: center;

 @include media-breakpoint-down(lg) {
    padding: 80px 45px;
  }

 @include media-breakpoint-down(sm) {
    padding: 40px 12px;
  }

  &-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $default-padding;

   @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &-heading {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 11px;

   @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &-content {
    display: flex;
    align-items: center;

   @include media-breakpoint-down(lg) {
      width: 100%;
      margin-bottom: 30px;
    }

   @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-title {
    font-family: $font-primary;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;

   @include media-breakpoint-down(sm) {
      font-size: 29px;
    }
  }

  &-image {
    width: 122px;
    height: 104px;
    margin-right: 30px;

   @include media-breakpoint-down(lg) {
      width: 104px;
      height: 89px;
    }

   @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &-form {
    display: flex;
    box-shadow: 0px 1px 13px 0px #0000000d;
    width: 576px;
    height: 50px;
    justify-content: space-between;

    &::placeholder {
      color: $grey-light;
    }

   @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &-input {
    color: $black;
    background-color: transparent;
    border: 2px dashed #dddddd75;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    padding: 10px 22px;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      border: 2px dashed $lime-green;
    }
  }

  &-button {
    background-color: $lime-green;
    cursor: pointer;
    color: $white;
    padding: 12px 35px;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0 5px 5px 0;
    transition: $transition;
    border: none;

   @include media-breakpoint-down(lg) {
      font-size: 15px;
      padding: 12px 20px;
    }

    &:hover {
      background-color: $black;
    }
  }
}
