.Testimonials {
  padding: 80px 40px;
  background-color:$grey-light;

  @include media-breakpoint-down(lg) {
    padding: 70px 35px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 12px;
  }

  &-heading {
    @extend .titleDecoration;
    text-align: center;
    margin-bottom: 26px;
  }

  &-title {
    @extend .titleUnderlined;
  }
  &-container {
    display: flex;
    margin: 0 auto;
    max-width: $default-padding;
  }

  &Card {
    background-color: $white;
    border-radius: 12px;
    width: 465px;
    padding: 20px;

    @include media-breakpoint-down(lg) {
      width: 343px;
    }
    @include media-breakpoint-down(sm) {
      width: 343px;
    }
    &-header {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      padding-bottom: 20px;
      text-align: center;
    }

    &-image {
      width: 70px;
      height: 70px;
    }

    &-icon {
      color: $lime-green;
      font-size: 15px;
      margin: 0 2px;
    }

    &-content {
      text-align: center;
    }

    &-title {
      color: $black;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-text {
      color: $grey-medium;
      font-family: $font-secundary;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
}
