$font-primary: "Roboto", sans-serif;
$font-secundary: "Poppins", sans-serif;
$transition: .4s all ease-in-out;


$lime-green: #80C100;
$white: #fff;
$black: #2B2540;
$black-trans:rgb(0 0 0 / 10%);
$grey-light: #E5E5E5;
$grey-medium: #818090;
$grey-ligthest:#F3F6FD;
$orange:#fd7e14;
$pink-light:#FCECEB;
$grey-trans:#f7f7f7;
$blue-grey: #677294;
$skype:#dbeefd;

$container-max-width: (
    xs: 575px
);


$default-padding: 1415px;
